#preface-area
{
    padding: 0;
}
.preface-block.col-sm-12 {
    height: 60px;
    padding: 0;
}

div#block-system-user-menu h2
{
    display: none;
}

#preface-area ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ED564B;
}

#preface-area li {
    list-style: none;
    padding-top: 5px;
    float: left;
    height: 100%;
}

#preface-area li a,
#preface-area .nolink {
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
#preface-area li a:hover {
    background-color: #F96B61;
}

div#block-system-user-menu {
    height: 60px;
}

div#block-system-user-menu .content {
    height: 100%;
}

#preface-area li.last.leaf
{
    float: right;
    background-color: #2C87C4;
}

.page-user-login div#primary {
    margin: 0 auto;
}

.page-user-login .region.region-content {
    width: none;
}

.form-item.form-type-textfield.form-item-name, .form-item.form-type-password.form-item-pass {
    /*height: 80px;
    margin-bottom: 20px;*/
}
.page-user-login .region.region-content {
    width: none;
}
.page-user-login input#edit-name,.page-user-login input#edit-pass {
    width: 100%;
    height: 50px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ea8383;
    background-color: #e2e3e7;
    color: #666666;
    font-size: 1.3em;
}

.page-user-login .region.region-content {
    width: none;
}

/*CONTACT form*/
form#webform-client-form-4 input.form-text, 
form#webform-client-form-4 textarea.form-textarea, 
form#webform-client-form-4 select.form-select {
    border: 4px solid #EA8383;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.38);
}

/*SITE FOOTER*/
.site-footer{
    position: relative;
    bottom: 0;
    height: 150px;
}



/*FRONT*/


div#logo {
    display: none;
}

#main-menu {
    float: right;
}
#main-menu li {
    border: solid 4px transparent;
}


h1.page-title {
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

/*MOBILE MENU*/

.responsive-menus.responsified span.toggler {
    background: #ed3237;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 0;
    height: 40px;
    padding-top: 5px;
}

.col-sm-6.mainmenu {
    padding: 0;
}

div#rm-removed {
    background: #EC8C86;
    box-shadow: none;
}

/*FRONT BLOQUES*/
/*  LOGIN   */
div#block-user-login {
    width: 30%;
    float: right; 
    text-align: center;
    padding: 15px;
    background-color: #efefef;
    margin-bottom: 10px;
}

div#titulo-login-block {
    font-size: 1.5em;
    text-align: center; 
    margin-bottom: 5px;
    width: 80%;
    margin: 0 auto;
}

div#block-user-login .form-item label{
    display: none;
}
div#block-user-login .form-item input[type="text"],
div#block-user-login .form-item input[type="password"] 
{
    border-left: solid 4px red;
    margin-left: 10px;
    width: 80%;
    font-size: 1.1em;
}

div#block-user-login .item-list ul li {
    text-align: right;
    padding-right: 10%;
}

div#edit-actions {
    text-align: right;
    padding-right: 5%; 
}

div#edit-actions input#edit-submit {
    font-size: 1.2em;
    background-color: #ed3237;    
    border: solid 3px #ed3237;
    transition: all 0.4s;
}

div#edit-actions input#edit-submit:hover {
    border-radius: 0px;
    box-shadow: none;
    background-color: #e2e3e7;
    color: #ed3237;
}

/*  FIN CSS LOGIN   */

div#block-block-4 {
    clear: both; 
}

/*FOOTER*/
.fcred a:link, .fcred a:visited {
color: #f0ad4e;
}

.col-sm-13 img {    
    max-height: 120px;
}

/*REDES SOCIALES*/
.os-share-widget-interface a.more.share-provider {
    display: none;
}

/*CANASTAS - RESERVAS*/
.bloque-canastas-disponibles div.views-field-nothing {
    background: transparent;
    border: solid 2px #ed3237;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bloque-canastas-disponibles div.views-field-nothing a{
    color: #ed3237;    
    padding: 15px 35px 15px 35px;
}

.bloque-canastas-disponibles div.views-field-nothing:hover {
    background: transparent;
    border: solid 2px #ed3237;    
    box-shadow: none;
}

.bloque-canastas-disponibles div.views-field-nothing a:hover{
    color: #ed3237;    
    padding: 15px 35px 15px 35px;
    
}

#primary td {
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    border-right: 0px solid #ddd;
    border-bottom: solid 1px #999999;
}

div#block-views-reservar-mi-canasta-block .view-content {
    width: 100%;
}

#primary table {
    margin: 0 auto;
}

.bloque-canastas-disponibles .views-field-title {
    float: left;
    margin-right: 20px;
    padding-top: 11px;
    padding-left: 13%;
    text-align: center;
}

div#logo-front {
    width: 56%;
    max-width: 700px;
    margin: 0 auto;
    float: left;
} 

.logged-in div#logo-front {
    float: none;
}

@media (min-width: 768px){
    .col-sm-6 {width: 100%;}
    
}

@media only screen and (max-width: 767px) {
    div#block-user-login {width: 100%; float: none; }
    div#logo-front { width: 100%;max-width: 700px;margin: 0 auto; float: none;}
    .col-sm-13 img { max-height: 120px; width: 40%;}
    .fcred {padding: 40px 0px; color: #bbb;}
    span.os-ss-icon-more.osshare_more.more {display: none;}
}

/*NOTICIAS*/


.views-field.views-field-body {
    text-align: justify;
}